* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 16px;
}

button, a, input {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

//* Контейнер полосы прокрутки:
::-webkit-scrollbar {
  width: 10px; //* - ширина полосы прокрутки.
  height: 0; //* - высота полосы прокрутки.
}

//* Стилизация дорожки под ползунком:
::-webkit-scrollbar-track {
  background: #99dd99; //* - цвет фона у дорожки.
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset; //* - тень у дорожки.
}

//* Стилизация ползунка:
::-webkit-scrollbar-thumb {
  background: #aaffaa; //* - цвет фона у дорожки.
  border-radius: 8px; //* - скругление углов.
  border: 3px solid #99dd99; //* - толщина, стиль и цвет рамки.
}

//* Стилизация ползунка при наведении на него:
::-webkit-scrollbar-thumb:hover {
  background: #77aa77; //* - ползунок меняет цвет при наведении.
}

//* Стилизация навигационных кнопок:
::-webkit-scrollbar-button {
  background-color: #99dd99; //* - цвет навигационных кнопок.
}

//* Стилизация навигационных кнопок при наведении на них:
::-webkit-scrollbar-button:hover {
  background-color: #aaeeaa; //* - цвет навигационных кнопок.
}

//* Дальнейшая стилизация навигационных кнопок:
::-webkit-scrollbar-button:single-button {
  border-style: solid;
  height: 10px;
  width: 10px;
}

//* Стилизация верхней навигационной кнопки:
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #aaffaa transparent;
}

//* Стилизация верхней навигационной кнопки при наведении:
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #77aa77 transparent;
}

//* Стилизация нижней навигационной кнопки:
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 10px 5px 0 5px;
  border-color: #aaffaa transparent transparent transparent;
}

//* Стилизация нижней навигационной кнопки при наведении:
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #77aa77 transparent transparent transparent;
}

//* Стилизация левой навигационной кнопки:
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 5px 10px 5px 0;
  border-color: transparent #aaffaa transparent transparent;
}

//* Стилизация левой навигационной кнопки при наведении:
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent #77aa77 transparent transparent;
}

//* Стилизация правой навигационной кнопки:
::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #aaffaa;
}

//* Стилизация правой навигационной кнопки при наведении:
::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
  border-color: transparent transparent transparent #77aa77;
}
